<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <link rel="stylesheet" href="/style.css">
  <title>Hogwarts</title>
</head>
<body>
  <div class="title">
    <h1>Hogwarts</h1>
  </div>
  <div class="sub_title">
    <h1>School of Witchcraft and Wizardry</h1>
  </div>
  <a href="/home/students">
  <button class="student_button" type="button" name="button">Students</button>
  </a>
  <div class="yield">
    <%= yield %>
  </div>
</body>
</html>
